name: linux-build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Store artifact
      uses: actions/upload-artifact@v4
      with:
        name: gradle-izpack-plugin.jar
        path: build/libs/*.jar

