name: Build [Linux]
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Compilation
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: classes
      - name: Unit tests
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: test
      - name: Functional tests
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: functionalTest
      - name: Assemble artifact
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: assemble
      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradle-izpack-plugin.jar
          path: build/libs/*.jar

